# Escenario: Trabajar en una aplicación planetaria
#### Imagina que eres un desarrollador que quiere crear una aplicación para trabajar con una lista de planetas. Deseas pedirle al usuario el nombre de un planeta y mostrar los planetas más cerca y más lejos del sol.

#### En este módulo, aprenderás a trabajar con listas de Python y algunas de las operaciones más comunes.

In [41]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [42]:
print('The first planet is', planets[0])
print('The second planet is', planets[1])
print('The third planet is', planets[2])
print('The planet planet #6', planets[5])

The first planet is Mercury
The second planet is Venus
The third planet is Earth
The planet planet #6 Saturn

In [43]:
print('Mars is also known as', planets[3])
planets[3] = 'Red Planet'
print('Mars is also known as', planets[3])

Mars is also known as Mars
Mars is also known as Red Planet

In [44]:
number_of_planets = len(planets)
print('There are', number_of_planets, 'planets in the solar system.')

There are 8 planets in the solar system.

In [45]:
planets.append('Pluto')
number_of_planets = len(planets)
print('There are actually', number_of_planets, 'planets in the solar system.')

There are actually 9 planets in the solar system.

In [46]:
planets.pop()  # Goodbye, Pluto
number_of_planets = len(planets)
print('No, there are definitely', number_of_planets, 'planets in the solar system.')

No, there are definitely 8 planets in the solar system.

In [47]:
print("The first planet is", planets[0])
print('The last planet is', planets[-1])
print('The penultimate planet is', planets[-2])

The first planet is Mercury
The last planet is Neptune
The penultimate planet is Uranus

In [48]:
jupiter_index = planets.index('Jupiter')
print('Jupiter is the', jupiter_index + 1, 'planet from the sun') #suma 1 porque empieza en 0

Jupiter is the 5 planet from the sun

In [49]:
gravity_on_earth = 1.0
gravity_on_the_moon = 0.166
gravity_on_planets = [0.378, 0.907, 1, 0.379, 2.36, 0.916, 0.889, 1.12]

In [50]:
bus_weight = 12650 # in kilograms, on Earth

print('On Earth, a double-decker bus weighs', bus_weight, 'kg')
print('On Mercury, a double-decker bus weighs', bus_weight * gravity_on_planets[0], 'kg')

On Earth, a double-decker bus weighs 12650 kg
On Mercury, a double-decker bus weighs 4781.7 kg

In [51]:
bus_weight = 12650 # in kilograms, on Earth

print('On Earth, a double-decker bus weighs', bus_weight, 'kg')
print('The lightest a bus would be in the solar system is', bus_weight * min(gravity_on_planets), 'kg')
print('The heaviest a bus would be in the solar system is', bus_weight * max(gravity_on_planets), 'kg')

On Earth, a double-decker bus weighs 12650 kg
The lightest a bus would be in the solar system is 4781.7 kg
The heaviest a bus would be in the solar system is 29854.0 kg

In [52]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
planets_before_earth = planets[0:2]
print(planets_before_earth)

['Mercury', 'Venus']

In [53]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
planets_before_earth = planets[0:5]
print(planets_before_earth)

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter']

In [54]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
planets_before_earth = planets[2:3]
print(planets_before_earth)

['Earth']

In [55]:
planets_after_earth = planets[3:8]
print(planets_after_earth)

['Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [56]:
amalthea_group = ['Metis', 'Adrastea', 'Amalthea', 'Thebe']
galilean_moons = ['Io', 'Europa', 'Ganymede', 'Callisto']

regular_satellite_moons = amalthea_group + galilean_moons
print('The regular satellite moons of Jupiter are', regular_satellite_moons)

The regular satellite moons of Jupiter are ['Metis', 'Adrastea', 'Amalthea', 'Thebe', 'Io', 'Europa', 'Ganymede', 'Callisto']

In [57]:
regular_satellite_moons.sort() #Ordena en orden alfabético 
print("The regular satellite moons of Jupiter are", regular_satellite_moons)

The regular satellite moons of Jupiter are ['Adrastea', 'Amalthea', 'Callisto', 'Europa', 'Ganymede', 'Io', 'Metis', 'Thebe']

In [58]:
regular_satellite_moons.sort(reverse=True) #Ordena en orden alfabético inverso
print("The regular satellite moons of Jupiter are", regular_satellite_moons)

The regular satellite moons of Jupiter are ['Thebe', 'Metis', 'Io', 'Ganymede', 'Europa', 'Callisto', 'Amalthea', 'Adrastea']